const SEOConfig = {
  title: 'Home | Ribbons and Balloons', // Default title for the website
  description: 'Online Cakes Shop in Mumbai, Pune and Mangalore . Online Cakes Delivery . Buy,Order &amp; Send Birthday, Wedding Anniversary &amp; Chocolate Cakes anywhere in Mumbai from best Cake Shop Ribbons &amp; Balloons.',
  keywords: 'Ribbons and Balloons',
  openGraph: {
    type: 'Corporation',
    locale: 'en_IE',
    url: 'https://rnb-ui-next.alphadigitall.com/', // Website URL
    site_name: 'Ribbons and Balloons', // Website name
    images: [
      {
        url: 'https://fama.b-cdn.net/Yuri/logos/yuri%20logo%202.png',
        width: 1200,
        height: 630,
        alt: 'Ribbons and Balloons',
      },
    ],
  },
  additionalMetaTags: [
    {
      name: 'contactPoint:telephone',
      content: '8591949488',
    },
    {
      name: 'contactPoint:contactType',
      content: 'customer service',
    },
    {
      name: 'contactPoint:areaServed',
      content: 'IN',
    },
    {
      name: 'contactPoint:availableLanguage',
      content: 'en, Hindi',
    },
    {
      name: 'sameAs:facebook',
      content: 'https://www.facebook.com/yurismartengineering',
    },
    {
      name: 'sameAs:instagram',
      content: 'https://www.instagram.com/yurismartengineering/',
    },
    {
      name: 'sameAs:youtube',
      content: 'https://www.youtube.com/channel/UClrtmIfJ8G2Ddsp08BWytcg',
    },
    {
      name: 'sameAs:linkedin',
      content: 'https://www.linkedin.com/company/yuri-smart-engineering/',
    },
    {
      name: 'sameAs:website',
      content: 'https://yurigroup.com/',
    },
  ],
};

export default SEOConfig;
