@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root{
  --primary-theme: #51171d;
  /* --secondary-theme: #fff0bd; */
  --secondary-theme: #ffb606;
  --primary-light-theme: #51171d30;
  --secondary-light-theme: ;
  --body-text-color: #000000;
  --body-bg-color: #f9fafa;
  --theme-white: #ffffff;
  --hyper-link-text: ;
  --border-radius: 25px;
  --border-btn-radius: 25px;
  --font-family-cursive:  'Dancing Script', cursive;
  --font-family:  'Poppins', sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: inherit;
}


.categories-list {
  display: none !important; 
  position: absolute !important;
  /* background-color: white !important; */
  border: 1px solid #ddd !important;
  z-index: 1 !important;
  list-style: none !important;
  cursor: pointer !important;
}

.categories-link:hover .categories-list {
  display: block !important; 
}

.categories-link{
  cursor: pointer;

}

.subcategories-list {
  background-color: white;
  list-style: none;
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.subcategory-item {
  padding: 5px; /* Add padding for better spacing */
}

.subcategory-link {
  margin-left: 20px;
}

/* Show subcategories on hover */
.categories-list .category-item:hover .subcategories-list {
  display: none !important;
}

.myorders{
  cursor: pointer;
}

.productname{
  cursor: pointer;
}


