@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root{
  --primary-theme: #51171d;
  /* --secondary-theme: #fff0bd; */
  --secondary-theme: #ffb606;
  --primary-light-theme: #51171d30;
  --secondary-light-theme: ;
  --body-text-color: #000000;
  --body-bg-color: #f9fafa;
  --theme-white: #ffffff;
  --hyper-link-text: ;
  --border-radius: 25px;
  --border-btn-radius: 25px;
  --font-family-cursive:  'Dancing Script', cursive;
  --font-family:  'Poppins', sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: inherit;
}


.categories-list {
  display: none !important; 
  position: absolute !important;
  /* background-color: white !important; */
  border: 1px solid #ddd !important;
  z-index: 1 !important;
  list-style: none !important;
  cursor: pointer !important;
}

.categories-link:hover .categories-list {
  display: block !important; 
}

.categories-link{
  cursor: pointer;

}

.subcategories-list {
  background-color: white;
  list-style: none;
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.subcategory-item {
  padding: 5px; /* Add padding for better spacing */
}



/* Show subcategories on hover */
.categories-list .category-item:hover .subcategories-list {
  display: none !important;
}

.myorders{
  cursor: pointer;
}

.productname{
  cursor: pointer;
}

.Map_wrapper {
  padding: 50px 0;
    background-image: url(https://fama.b-cdn.net/Yuri/logos/Website-Banner_1.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-color: #000;
}
.Map_wrapper::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000ad;
    z-index: 1;
}
.Map_wrapper .container{
  position: relative;
  z-index: 2;
}
.Map_wrapper .commonTitle h2{
  color: var(--theme-btn-bg);
}
.Map_Body {
  padding: 25px 20px;
  display: grid;
  grid-template-columns: 33.33333% 66.66667%;
  background-color: #ffffff;
  height: 620px;
  border-radius: 10px;
}
.Map_Info{
  margin-right: 25px;
}
.search_input:hover{
  color: var(--theme-primary);
}
.search_input input{
  width: 100%;
  padding: 8px;
  padding-left: 35px;
  margin-left: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(12, 12, 13, 0.09), 0 0 0 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  color: #000;
  height: 45px;
    font-size: 15px;
}
.search_input_arrow {
  display: flex;
}
.search_input_Live {
  margin-left: 15px;
  padding: 0px 15px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background-color: var(--primary-theme);
  border: 1px solid var(--primary-theme);
}
.search_input_Live:hover{
  /* color: var(--theme-btn-bg);
  background-color: var(--theme-btn-color);
  border: 1px solid var(--theme-btn-border); */
  /* color: var(--theme-btn-color);
  background-color: var(--theme-btn-bg);
  border: 1px solid var(--theme-btn-border); */
  opacity: 0.7;
}
.search_input {
  position: relative;
  width: 100%;
}
.search_input i {
  position: absolute;
  top: 15px;
  left: 15px;
}
.retailer-cards{
  overflow: hidden;
  overflow-y: auto;
  max-height: 500px;
  margin-top: 25px;
  padding-bottom: 25px;
}
.retailer-cards .retailer-card:not(:first-child){
  margin-top: 15px;
}
.retailer-card{
  position: relative;
  display: flex;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 10px;
  cursor: pointer;
}
.retailer-card:hover{
  border: 1px solid var(--theme-primary);
}
.Map_container{
  height: 100%;
  width: 100%;
}
.retailer-card p{
  margin-bottom: 0px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  color: var(--text-color);
}
.retailer-name {
  display: flex;
  color: var(--text-color);
  margin-right: 10px;
}
.retailer-card h2{
  font-size: 18px;
    margin: 0 0 5px;
    color: var(--theme-primary);
}
.retailer-name i {
  font-size: 14px;
  color: var(--theme-primary);
  margin-top: 5px;
}
.retailer_map_info h3 {
  font-size: 18px;
  margin: 0 0 5px;
  color: var(--theme-primary);
}
.retailer_map_info p {
  margin-bottom: 0px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  color: var(--text-color);
}
.navbar-nav li a:hover,
.navbar_search li a:hover{
  color: var(--theme-primary);
}
.staticContentTitle h4 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: var(--text-color);
}
.listing-filter-footer{
  display: none;
}
.mapSection{
  width: 100%;
  height: 300px;
}
.mapSection iframe{
  width: 100%;
  height: 100%;
}
.staticContentSubTitle h4 {
  margin-top: 35px;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: var(--text-color);
}
.ContentWrap {
  display: flex;
}
.ContentInfo {
  width: 75%;
}
.ContentWrapBrand .ContentInfo{
  width: 100%;
}
.ContentWrapBrand{
  width: 100%;
}
.brandImageInfo {
  display: flex;
}
.brandImageInfo img {
  width: 200px;
    height: auto;
    margin-bottom: 25px;
    border: 1px var(--theme-primary) solid;
    border-bottom: 5px var(--theme-primary) solid;
}
.brandImageInfo .staticContentBody{
  width: 80%;
}

/* Import Google font - Poppins */
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

:where(.otp-container, .otp-form, .input-field, header) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.otp-container {
  background: #fff;
  padding: 30px 65px;
  border-radius: 12px;
  row-gap: 20px;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
}
.otp-container header {
  height: 65px;
  width: 65px;
  /* background: #4070f4; */
  color: #fff;
  font-size: 2.5rem;
  border-radius: 50%;
}
.otp-container h4 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
}
.otp-form .input-field {
  flex-direction: row;
  column-gap: 10px;
}
.input-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}
.otp-form button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: none;
  background: var(--primary-light-theme);
  transition: all 0.2s ease;
}
form button.active {
  background: var(--primary-theme);
  pointer-events: auto;
}
form button:hover {
  background: var(--primary-theme);
}


.navbar ul li.icon {
  display: none;
}


/* @media screen and (max-width: 600px) {
  .navbar li {display: none;}
  .navbar ul li.icon {
    float: left;
    display: block;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive ul li.icon {
    position: absolute;
    top: 0;
    margin-top: 1px;
  }
  .navbar.responsive ul li {
    float: none;
    display: block;
    text-align: left;
  }
} */


@media screen and (max-width: 991px) {
  .navbar-nav {
    flex-direction: row !important;
  }
  .navbar-nav .nav-item{
    margin: 8px
  }
  .productImage{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.jss8 {
  padding: 0 16px;
}

}

/* My Order */
*, *::before, *::after {
  box-sizing: inherit;
}

.MuiDivider-root {
  border: none;
  height: 1px;
  margin: 0;
  flex-shrink: 0;
  background-color: #ecedeb;
}
.jss2390 {
  font-size: 20px;
  line-height: 28px;
}
.MuiTypography-root {
  margin: 0;
}

.jss2406 {
  padding-top: 16px;
  padding-bottom: 56px;
}

.jss2408 {
  padding-bottom: 16px;
}

.jss2409 {
  padding-top: 16px;
}

.jss8 {
  width: 100%;
  margin: auto;
  max-width: 1276px;
}

.MuiGrid-spacing-xs-2 {
  width: calc(100% + 16px);
  margin: -8px;
}

.MuiGrid-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 8px;
}


.MuiGrid-grid-xs-12 {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}

.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
}

.MuiGrid-spacing-xs-2 {
  width: calc(100% + 16px);
  margin: -8px;
}

.MuiGrid-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.MuiGrid-grid-xs-2 {
  flex-grow: 0;
  max-width: 16.666667%;
  flex-basis: 16.666667%;
}

.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
}

.jss2404 {
  font-size: 16px;
  font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 600;
}

.jss2412 {
  margin-top: 16px;
}

.jss2400 {
  width: fit-content;
  background: #ecedeb;
  border-radius: 8px;
}

.jss2413 {
  margin-top: 16px;
  margin-bottom: 16px;
}


.jss2402 {
  color: #FFFFFF;
  width: max-content;
  height: inherit;
  padding: 8px 22px;
  font-size: 14px;
  background: #242428 !important;
  font-style: normal;
  font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 600;
  line-height: 20px;
  border-radius: 8px;
  text-transform: capitalize;
}

.jss2401 {
  width: max-content;
  height: inherit;
  padding: 9px 22px;
  font-size: 14px;
  background: #ecedeb;
  font-style: normal;
  font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.MuiButtonBase-root {
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.jss2405 {
  margin: 8px 0px 16px 0px;
}

.jss2393 {
  font-weight: 600;
}

.jss2390 {
  font-size: 16px;
  font-style: normal;
  font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  line-height: 24px;
}

.jss2398 {
  width: max-content;
  border: 1px solid #ecedeb;
  cursor: pointer;
  padding: 2px 16px;
  margin-top: 8px !important;
  border-radius: 10000px;
  margin-bottom: 10px !important;
  text-transform: capitalize;
}

.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.jss2414 {
}
.MuiButtonBase-root {
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.jss2392 {
  font-size: 12px;
  line-height: 18px;
}

.jss2399 {
  color: #FFFFFF !important;
  background: #faa619 !important;
}


/* All Order Section */
.MuiGrid-grid-xs-10 {
  flex-grow: 0;
  max-width: 83.333333%;
  flex-basis: 83.333333%;
}

.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
}

.jss2395 {
  height: 600px;
  overflow: scroll;
}

.jss2394 {
  border: 1px solid #ecedeb;
}

.jss2422 {
  padding: 16px;
}

.MuiGrid-spacing-xs-2 {
  width: calc(100% + 16px);
  margin: -8px;
}

.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}


.jss2427 {
  color: #929391;
}
.jss2424 {
  font-size: 14px;
  font-style: normal;
  font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: normal;
  line-height: 20px;
}



.jss2444 {
  padding-left: 47px !important;
}

.jss2440 {
  display: grid;
  white-space: nowrap;
  grid-template-columns: 112px auto 130px;
}

.jss630 {
  padding-left: 0px !important;
}

.jss2443 {
  padding-left: 0px !important;
}

.jss2428 {
  font-weight: 600;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 8px;
}

.jss2449 {
  padding-top: 16px;
}

.jss2439 {
  display: grid;
  white-space: nowrap;
  grid-template-columns: 112px auto;
}

.jss2450 {
  position: relative;
}

.jss2452 {
  position: relative;
}

.jss2423 {
  width: 80px;
  height: 80px;
}

.jss2458 {
  top: 45px;
  left: 8px;
}

.jss2451 {
  opacity: 0.95;
  padding: 5px 8.5px;
  position: absolute;
  font-size: 12px;
  text-align: center;
  font-family: ProximaNova-Bold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  line-height: 17px;
  border-radius: 2px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.jss2460 {
  color: white;
  background-color: rgb(93, 94, 92);
}
.jss2431 {
  width: 14px;
  height: 14px;
  background: url(https://i1.lmsin.net/website_images/static-pages/brand_exp/brand2images/prod/Sprite_icons.svg) -99px -109px;
}

.jss2438 {
  padding: 0px 0px 0px 650px;
  margin-top: 40px
}

.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.showDetails{
  margin: 10px 10px 0px 0px
}




